@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #EAE0D5;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icon-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headicon {
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fefefe;
}

.flag {
    background: url(../forras/Monaco-Flag.png) no-repeat center / cover;
}

.cimer {
    background: url(../forras/cimer.jpg) no-repeat center / cover;
}

@media (max-width: 550px) {
    .icon-cont {
        display: none;
    }
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #0A0908;
    overflow: hidden;
    transition: .3s ease;
    overflow: hidden;
    height: 49px;
}

nav.toggled {
    height: 294px;
}

.nav-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    color: #EAE0D5;
    padding: 15px 20px;
}

.nav-items a:hover {
    color: #C6AC8E;
}

.nav-items button {
    width: 49px;
    height: 49px;
    background: transparent url(../svg/menuwhite.svg) no-repeat center / 30px;
    border: none;
}

.nav-items button:hover {
    background: transparent url(../svg/menubeige.svg) no-repeat center / 30px;
}

.nav-items button.toggled {
    background: transparent url(../svg/closewhite.svg) no-repeat center / 30px;
}

.nav-items button.toggled:hover {
    background: transparent url(../svg/closebeige.svg) no-repeat center / 30px;
}

.coll-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.coll-nav-items a {
    text-decoration: none;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    color: #EAE0D5;
}

.coll-nav-items a:hover {
    color: #C6AC8E;
}

@media (min-width: 831px) {
    .nav-items button {
        display: none;
    }

    nav {
        max-height: 49px;
    }
}

@media (max-width: 830px) {
    .nav-items a{
        display: none;
    }
}



.tortenete {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    font-size: large;
}

.torteneteimg {
    width: 30vw;
    float: right;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.gazdasag, .forma1, .programok {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    font-size: large;
}

.statok {
    padding: 20px;
}

footer {
    position: absolute;
    width: 100%;
    height: fit-content;
}

.footerwave {
    aspect-ratio: 1000 / 150;
    background: url(../svg/footerwave.svg) no-repeat center;
    background-size: cover; 
}

.footercont {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0908;
}

.nevek {
    padding: 20px;
    color: #fefefe;
}

.footeriframe {
    width: 600px;
    height: 400px;
    position: relative;
    right: 30px;
    bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 915px) {
    .footercont {
        flex-direction: column;
        align-items: flex-start;
    }

    .footeriframe {
        right: 0;
        bottom: 0;
        width: 100%;
    }
}

html body main .tortenete {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    font-size: large;
}

.torteneteimg {
    width: 30vw;
    float: right;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

html body main .gazdasag, html body main .forma1, html body main .programok {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    font-size: large;
}

html body main .statok {
    padding: 20px;
}

.wave {
    aspect-ratio: 1000 / 150;
    background: no-repeat center;
    background-size: cover;
    width: 100%;
}

.layer1 {
    background-image: url(../svg/whitegoldwave.svg);
}

.layer2 {
    background-image: url(../svg/whitegoldwaveflipped.svg);
}

.gazdasag {
    background-color: #C6AC8E;
}

.layer3 {
    background-image: url(../svg/brownwhitewave.svg);
}

.layer4 {
    background-image: url(../svg/brownwhitewaveflipped.svg);
}

.programok {
    background-color: #5E503F;
    color: white;
}

.headercont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

p {
    font-size: larger;
}

li {
    font-size: larger;
}

@media (max-width: 768px) {
    .torteneteimg {
        float: none;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 500px) {
    p, li {
        font-size: large;
    }
}

