@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    body {
        min-height: 100vh;
        background-color: #fefefe;
        margin: 0;
        header {

        }
        main {
            .tortenete {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                padding: 20px;
            }
            .gazdasag {
                @extend .tortenete;
            }
            .statok {
                padding: 20px;
            }
            .programok {
                @extend .tortenete;
            }
            .forma1 {
                @extend .tortenete;
            }
        }
        footer {

        }
    }
}