@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
html body {
  min-height: 100vh;
  background-color: #fefefe;
  margin: 0;
}
html body header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5px;
  background: #0A0908;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}
html body nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
html body nav a {
  font-size: 18px;
  color: #EAE0D5;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 15px;
  white-space: nowrap;
  margin-left: 20px;
  transition: 0.3s;
}
html body nav a:hover,
html body nav a.active {
  color: #C6AC8E;
}
@media (max-width: 768px) {
  html body header {
    padding: 15px 20px;
  }
  html body nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
html body .logo {
  margin-left: 50px;
  text-decoration: none;
}
html body #logo_zaszlo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
    
}

/* footer és a mainből 150px lent hozzáadás   */

.footer {
  position: relative;
  background: #333;
  color: white;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  position: relative;
  left: 40px;
  font-size: 18px;
  bottom: 45px;
}

.wave {
  position: absolute;
  bottom: 420px;
  height: 100%;
  width: 100%;
  left: 0;
}

.map-container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

iframe {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 30%;
  height: 100%;
  border: 1px solid #000000;;
}
main{
  padding-bottom: 150px;

}
html body main .tortenete {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  font-size: large;
}
html body main .tortenete img {
  width: 30vw;
  float: right;
  margin: 0px 0px 0px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
html body main .gazdasag, html body main .forma1, html body main .programok {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  font-size: large;
}
html body main .statok {
  padding: 20px;

}